


<h1 mat-dialog-title>Seat Bookings Form</h1>

<div mat-dialog-content>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="flex flex-col">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="bookingForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>


    <div class="flex gap-[13px] w-full">
      <mat-form-field appearance="fill" class="w-[48%]">
        <mat-label>Bus Name</mat-label>
        <input  matInput formControlName="busName" required readonly>

      </mat-form-field>

      <mat-form-field appearance="fill" class="w-[48%]">
        <mat-label>Seat No</mat-label>
        <input matInput formControlName="seatNo" required readonly>

      </mat-form-field>
    </div>



    <mat-form-field appearance="fill">
      <mat-label>Destination</mat-label>
      <mat-select formControlName="destination" required>
        <mat-option *ngFor="let dest of destinations" [value]="dest">
          {{ dest }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="bookingForm.get('destination')?.hasError('required')">
        Destination is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Time</mat-label>
      <mat-select formControlName="time" required>
        <mat-option *ngFor="let time of times" [value]="time">
          {{ time }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="bookingForm.get('time')?.hasError('required')">
        Time is required
      </mat-error>
    </mat-form-field>


    <div mat-dialog-actions class="flex flex-row justify-end">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!bookingForm.valid">Book Seat</button>

    </div>
  </form>
</div>
