<div class=" rounded shadow-lg w-96">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{product?.name}}</div>
    <p class="text-gray-700 text-base">
      Color: {{product?.data?.color}} <br>
      Capacity: {{product?.data?.capacity }}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#phone</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#google</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#pixel</span>
  </div>
  <div class="p-4">
    <!-- <button (click)="viewDetails(item.id)" class="w-full" mat-raised-button color="primary">View Details</button> -->
  </div>
</div>
